html,
body {
  height: 100%;
}

.doublecol {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
 
.doublecol > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.container {
    background-color: #ff6464;
    margin-bottom: 1em;
   /*width: 30%;*/
}

p {
    color: #f9f6f6;
}

/* ACCUEIL PAGE */

home-buttons {
    flex: auto;
    margin: 2em;
}

/*
.alerts {
    display: flex;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
    */
button {
    margin: 0.5em 1.5em;
}

.home-buttons {
    display: flex;
}

.home-button {
    width: 50%;
    display: flex;
    border: 2px solid orange;
    margin: 1.5em;
    padding: 0.3em;
}