body {padding-top: 2rem;}
.droptarget-div {
    float: left;
    width: 100px;
    height: 55px;
    margin: 25px 25px 5px 5px;
    padding: 10px;
    border: 1px solid black;
}
#dragtarget-div {
    background: #eee;
    padding: 5px;
}
#drop-area {
    border: 1px solid blue;
    padding: 15px;
}

.row {
    border: 1px solid brown;
    padding: 1.2em;
    margin: 1.5em;
  }