html,
body {
  height: 100%;
}

.doublecol {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
 
.doublecol > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.container {
    background-color: #ff6464;
    margin-bottom: 1em;
   /*width: 30%;*/
}

.container-m {
    background-color: #d4d4d4;
    margin-bottom: 0.5em;
    height: 240px;
}

.container-s {
    background-color: #d4d4d4;
    margin-bottom: 1em;
    height: 240px;
}

.state {
    display: inline-block;
    padding: 5px 5px 30px;
    background-color: #37506d;
    color: #555;
    font-family: "Source Sans Pro",sans-serif;
    line-height: 1.5;
}

.draggable {
    display: inline-block;
    padding: 1px 3px;
    font-weight: bold;
    color: white;
    background-color: #5962e6;
}

.connect {
    min-width: 1.5em;
    padding: 0;
    background-color: #338dbf;
}

.disconnect {
    min-width: 1.5em;
    padding: 0;
    display:inline;
    background-color: #c7164b;
}

p {
    color: #f9f6f6;
}

.connectOut {
    min-width: 1.5em;
    padding: 0;
    background-color: #d840b7;
}

/* Cellules et modules collants */
.cellule {
    position: relative;
    background-color: #24f135;
    
    margin-top: 10px;
    width: 86.1094px;
    height: 32px;
}


#e30-port {
    left: 40px;
    top: 64px;
    background-color: #24c4f1;

    width: 86.1094px;
    height: 32px;
}

  #ex-030-stage {
    width: 400px;
    position: relative;
}

#e30-port {
    position: absolute;
    left: 40px;
    top: 64px;
    background-color: #24c4f1;
}
  
#e30-line {
    top: 160px;
    width: 180px;
}

#e30-grid {
    position: absolute;
    left: 180px;
    top: 0;
    width: 220px;
    height: 240px;
    background-image: url("../img/grid-net-40.png");
}

/*  */
#e50-stage {
    width: 400px;
    position: relative;
}
  
#e50-stage-in {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 160px;
    height: 100px;
    border-top: 60px solid #f7f5ee;
    border-right: 80px solid #f7f5ee;
}
  
#e50-draggable {
    position: absolute;
    right: 0;
}

